<h1>Wann dawenen wir?</h1>
<p>
	<h2> Dawenzeiten in der Grünangergasse:</h2>
	<table class="round">
		<tr><td>Am Schabbes - erste Minjen: </td> <td> 8:00 </td></tr>
		<tr><td>Am Schabbes - zweite Minjen:</td> <td> 9:00 </td></tr>
		<tr><td>Unter der Woche:            </td> <td> 7:00 </td></tr>
		<tr><td>Am Sonntag:                 </td> <td> 8:00 </td></tr>		
	</table>
	
	
</p>
