<h1><%= t('where.main_h1') %></h1>
<p><%= t('where.paragraph') %></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5317.8769586010885!2d16.375853699999997!3d48.20780089999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d079fb09ef335%3A0x5e6facab39bb86f8!2sGr%C3%BCnangergasse+1%2C+1010+Wien%2C+Austria!5e0!3m2!1sen!2s!4v1389561911662" width="700" height="500" frameborder="0" style="border:0"></iframe>